*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-size: 15px;
    

}

html,body{
    font-weight: 300px;
    line-height: 1.4;
    scroll-behavior: smooth;
   
}
a{
    text-decoration: none;
}
body
{
    display: flex;
}
header
{
    border: 2px rgb(177, 177, 177) solid;
    height: 100vh;
    position: fixed;
    width: 150px;
    
}

main{
    padding-left: 160px;
    
}

nav h1{
    font-size: 20px;
    font-weight: 300px;
    padding: 10px ;
    border-bottom: 1px solid rgb(141, 141, 141);
    

}
nav ul
{
    
    list-style: none;
}
nav ul li{
    border-bottom: 1px solid gray;
    padding: 10px;
    color: black;
}nav ul li:hover{
    background: #e4e4e4;
    transition: 0.3s ease-in-out;
}
.blogs
{
    padding: 25px;
    border-bottom:1px black solid ;
    
}
.blogs h2
{
    margin-bottom: 10px;
    text-decoration: underline;
    font-size: 18px;
}
.blogs ul li
{

    margin-bottom:10px;

}
.program
{
    background-color: #e4e4e4;
    padding: 20px;
    
}
#caution
{
    background-color: rgb(236, 177, 177);
    display: inline-block;
    padding: 10px;
    color: white;
    font-weight: 700;
    margin-top: 10px;
    border-radius: 20px;
    text-align: center;
    transition: opacity 0.5s ease-in-out;

}

#caution:hover
{
    opacity: 0.5;
    margin-top: 50px;
    width: 100px;
    
}
